.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.App-logo {
  height: 80px;
  margin: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  margin-top: 40px;
}

.product-list {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.product {
  width: 30%;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}

.product img {
  width: 50%;
  height: auto;
  border-radius: 10px;
}

footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}
